<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="m-5 border border-red-300 p-5">
        <h1 class="text-3xl font-bold">Login</h1>
        <form action="/create" method="post" class="flex flex-col gap-3 mt-5 w-64">
            <input class="border border-gray-300 p-1" type="text" placeholder="User Name" name="username"/>
            <input class="border border-gray-300 p-1" type="email" placeholder="Email" name="email"/>
            <input class="border border-gray-300 p-1" type="password" placeholder="password" name="password"/>
            <input class="border border-gray-300 p-1" type="number" placeholder="age" name="age"/>
            <button class="bg-blue-300 p-1" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>